<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="userMap" type="com/example/demo/entity/User.java">
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <result property="gender" column="gender"></result>
        <result property="department" column="department"></result>
        <result property="phoneNumber" column="phone_number"></result>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <collection property="order" javaType="ArrayList" ofType="com/example/demo/entity/Order.java">
            <result property="id" column="id"></result>
            <result property="orderDate" column="order_date"></result>
        </collection>
    </resultMap>
    
    <select id="userFindPage" resultMap="userMap">
        select ordersystem.t_user.*, ordersystem.t_order.id, ordersystem.t_order.order_date
        from ordersystem.t_user left join ordersystem.t_order on t_user.id = ordersystem.t_order.user_id and t_user.department = t_order.department and t_user.name = t_order.user_name
    </select>
</mapper>
